:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #3a6ea5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  outline: thick solid transparent;
  font-weight: 500;
  cursor: pointer;
  transition: outline 0.2s;
}

button:hover {
  outline-color: #ff4c4b;
}
